In [259]:
import pandas as pd
import numpy as np

In [260]:
data=pd.read_csv('train.csv')
test=pd.read_csv('test.csv')

In [261]:
def clean(data):
    data = data.drop(["campaign_id",  "iremoteid","device"], axis=1)
    return data

data = clean(data)
test = clean(test)

In [262]:
def datetransform(x):
    x['start_date'] = pd.to_datetime(x['start_date'], format='%Y-%m-%d')
    x['start_date'] = x['start_date'].dt.year
    
    x['end_date'] = pd.to_datetime(x['end_date'], format='%Y-%m-%d')
    x['end_date'] = x['end_date'].dt.year

datetransform(data)
datetransform(test)

In [263]:
from sklearn import preprocessing
le = preprocessing.LabelEncoder()
columns = ["format"]

for col in columns:
    data[col] = le.fit_transform(data[col])
    test[col] = le.transform(test[col])
    print(le.classes_)
      
data.head(5)

['banner' 'butterfly' 'highco' 'lucky cart' 'pmp' 'shop' 'showcase'
 'stoprayon' 'tg']

,chain_id,start_date,end_date,format,height,width,days,start_day,end_day,shop,budget
0,12,2019,2019,0,200.0,995.0,5.0,7.0,3.0,0.0,3579.344177
1,11,2020,2020,1,486.0,278.0,6.0,2.0,6.0,0.0,5251.781250
2,11,2020,2020,1,488.0,265.0,28.0,4.0,2.0,0.0,9814.411865
3,10,2020,2020,0,150.0,1200.0,8.0,3.0,2.0,0.0,11428.571429
4,12,2019,2019,0,200.0,995.0,44.0,4.0,4.0,0.0,9328.322937

In [264]:
formats=pd.get_dummies(data['format'])
data = pd.concat([data,formats],axis=1)

data.head()

,chain_id,start_date,end_date,format,height,width,days,start_day,end_day,shop,budget,0,1,2,3,4,5,6,7,8
0,12,2019,2019,0,200.0,995.0,5.0,7.0,3.0,0.0,3579.344177,1,0,0,0,0,0,0,0,0
1,11,2020,2020,1,486.0,278.0,6.0,2.0,6.0,0.0,5251.781250,0,1,0,0,0,0,0,0,0
2,11,2020,2020,1,488.0,265.0,28.0,4.0,2.0,0.0,9814.411865,0,1,0,0,0,0,0,0,0
3,10,2020,2020,0,150.0,1200.0,8.0,3.0,2.0,0.0,11428.571429,1,0,0,0,0,0,0,0,0
4,12,2019,2019,0,200.0,995.0,44.0,4.0,4.0,0.0,9328.322937,1,0,0,0,0,0,0,0,0

In [265]:
formats=pd.get_dummies(test['format'])
test = pd.concat([test,formats],axis=1)

In [266]:
data = data.drop(["format"], axis=1)
test = test.drop(["format"], axis=1)

In [267]:
data.head()

,chain_id,start_date,end_date,height,width,days,start_day,end_day,shop,budget,0,1,2,3,4,5,6,7,8
0,12,2019,2019,200.0,995.0,5.0,7.0,3.0,0.0,3579.344177,1,0,0,0,0,0,0,0,0
1,11,2020,2020,486.0,278.0,6.0,2.0,6.0,0.0,5251.781250,0,1,0,0,0,0,0,0,0
2,11,2020,2020,488.0,265.0,28.0,4.0,2.0,0.0,9814.411865,0,1,0,0,0,0,0,0,0
3,10,2020,2020,150.0,1200.0,8.0,3.0,2.0,0.0,11428.571429,1,0,0,0,0,0,0,0,0
4,12,2019,2019,200.0,995.0,44.0,4.0,4.0,0.0,9328.322937,1,0,0,0,0,0,0,0,0

In [268]:
data.columns

Index([  'chain_id', 'start_date',   'end_date',     'height',      'width',
             'days',  'start_day',    'end_day',       'shop',     'budget',
                  0,            1,            2,            3,            4,
                  5,            6,            7,            8],
      dtype='object')

In [269]:
#from sklearn.model_selection import train_test_split

#X = np.asarray(data[[  'chain_id', 'start_date',   'end_date',     'height',      'width',
 #            'days',  'start_day',    'end_day',       'shop',
  #                0,            1,            2,            3,            4,
   #               5,            6,            7,            8]])
#Y = np.asarray(data['budget'])
#X_train, X_test, y_train, y_test = train_test_split(X,Y, test_size=20, random_state=42)

In [270]:
p=data['budget']
print(p)
data = data.drop(["budget"], axis=1)
data = pd.concat([data,p],axis=1)
data.head()

0        3579.344177
1        5251.781250
2        9814.411865
3       11428.571429
4        9328.322937
            ...
3983     4036.691162
3984     2332.705994
3985    10850.689697
3986    15076.020355
3987    16656.156830
Name: budget, Length: 3988, dtype: float64

,chain_id,start_date,end_date,height,width,days,start_day,end_day,shop,0,1,2,3,4,5,6,7,8,budget
0,12,2019,2019,200.0,995.0,5.0,7.0,3.0,0.0,1,0,0,0,0,0,0,0,0,3579.344177
1,11,2020,2020,486.0,278.0,6.0,2.0,6.0,0.0,0,1,0,0,0,0,0,0,0,5251.781250
2,11,2020,2020,488.0,265.0,28.0,4.0,2.0,0.0,0,1,0,0,0,0,0,0,0,9814.411865
3,10,2020,2020,150.0,1200.0,8.0,3.0,2.0,0.0,1,0,0,0,0,0,0,0,0,11428.571429
4,12,2019,2019,200.0,995.0,44.0,4.0,4.0,0.0,1,0,0,0,0,0,0,0,0,9328.322937

In [271]:
from sklearn.model_selection import train_test_split

X = data.iloc[:,:-1]
Y = data.iloc[:,-1]


X_train, X_test, y_train, y_test = train_test_split(X,Y, test_size=0.33, random_state=7)

In [272]:
from sklearn.ensemble import RandomForestRegressor
regressor = RandomForestRegressor(n_estimators=20 , random_state = 0)
regressor.fit(X_train,y_train)
y_pred = regressor.predict(X_test)

/usr/local/lib/python3.8/dist-packages/sklearn/utils/validation.py:1688: FutureWarning: Feature names only support names that are all strings. Got feature names with dtypes: ['int', 'str']. An error will be raised in 1.2.
  warnings.warn(
/usr/local/lib/python3.8/dist-packages/sklearn/utils/validation.py:1688: FutureWarning: Feature names only support names that are all strings. Got feature names with dtypes: ['int', 'str']. An error will be raised in 1.2.
  warnings.warn(

In [273]:
prediction= regressor.predict(test)

/usr/local/lib/python3.8/dist-packages/sklearn/utils/validation.py:1688: FutureWarning: Feature names only support names that are all strings. Got feature names with dtypes: ['int', 'str']. An error will be raised in 1.2.
  warnings.warn(

In [274]:
ss = pd.read_csv('/content/Submission Sample.csv')

In [275]:
test1=pd.read_csv('test.csv')
id=test1['campaign_id']

In [276]:
df = pd.DataFrame({"campaign_id":id,
                   "budget":prediction,
                  })

In [278]:
df.to_csv("submission15.csv", index=False)